streamlit==1.39.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
requests==2.32.3
torch==2.4.1
torchvision==0.19.1
bleak==0.22.2
gtts==2.5.3
speechrecognition==3.10.4

